.main__content--height-lc {
  width: 992px;
}

.main__content {
  background: white;
}

.presentation {
  background: var(--color-black);
}

.main__content > .row > .col-6 {
  padding: 2rem 1.5rem;
}

form > .row > .col-6 {
  padding: 1rem;
}

.list-delete-style {
  list-style-type: none;
  margin: 0rem;
  padding: 0rem;
}

.list-delete-style > li {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.presentation__content {
  color: white;
}

.create-account__title > h3 {
  font-weight: 700;
}
