.disponible {
    background-color: rgb(162, 255, 194);
    color: black
}

.fc-event-title-container {
    background-color: rgb(26 139 87) !important;
}

.fc-daygrid-day-number,
.fc-col-header-cell,
.fc-day,
[role="columnheader"],
.fc-col-header-cell-cushion {
    text-decoration: navajowhite;
    border: none;
    color: var(--color-blue) !important;
}

.main__content {
    border-radius: 6px;
}

.back__link {
    color: rgb(47, 47, 47);
}

.fc-daygrid-event-dot {
    border: calc(var(--fc-daygrid-event-dot-width)/2) solid rgb(41, 183, 91);
}

.fc-event-title {
    color: rgb(41, 183, 91)
}