.main__content {
  padding: 1rem;
  width: 100%;
}

.card-patient {
  height: auto;
  width: 220px;
  border-radius: 0.5rem;
  background-image: linear-gradient(
    180deg,
    rgb(47, 111, 168) 25%,
    #f2f2f2 0% 100%
  );
}

.card-patient__img > img {
  width: 100px;
}

.card-patiente_information {
  padding: 1rem 1rem 0rem 1rem;
}

.card-patient__operation {
  padding-bottom: 1rem;
}

.row > div > div {
  padding: 1rem;
  background: white;
  border-radius: 6px;
}

.activities_patients {
  overflow-x: hidden;
  padding: 1rem;
  background: white;
  border-radius: 1rem;
  border: solid 1px #e8d8ff;
}

.activities-patient__show {
  align-items: start;
}

.activities-patient__show-btn-delete {
  height: 2rem;
  border-radius: 0.3rem;
  border: 0rem;
  background: none;
  background: rgb(225, 225, 225);
  color: rgb(47, 47, 47);
}

h1 {
  font-weight: 600;
}

/*
.activities-patients__title{
  font-weight: 600;
  text-decoration: underline;
}*/

.search-data__icon,
.search-data__input {
  background: #0f8a8a !important;
  border: solid 1px rgb(112, 212, 212) !important;
}

.search-data__input {
  border-radius: 0rem 0.5rem 0.5rem 0rem !important;
}

.search-data__input::placeholder {
  color: white;
}

.search-data {
  width: 25vw !important;
}

.search-overflow-y {
  width: auto;
  position: relative;
  overflow-y: auto;
  max-height: 700px;
}

.card-patient--bgPink {
  background-image: linear-gradient(
    180deg,
    var(--color-pink) 25%,
    #f2f2f2 0% 100%
  );
}

.bi-trash,
.bi-calendar3,
.bi-person-lines-fill {
  cursor: pointer;
}
