.main__content {
    background: white;
    padding: 1rem;
    border: solid 1px #e8d8ff;
    margin: 1rem;
    width: 1200px;
    min-width: 400px;
    border-radius: 1rem;
    border: solid 1px #e8d8ff;
}