:root {
  --color-blue: #1A3659;
  --color-black: rgb(63, 63, 63);
  --color-red:#ff4b4b;
  --color-pink: #ec407a;
  --color-grey: #626a71;
  --color-green:  #15A6A6;
  --color-orange:  #fd7b43;
}

.back > a{
  color: rgb(47,47,47);
}
.flex-around-full {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text__orange{
  color: var(--color-orange);
}
.text__green{
color: var(--color-green);
}

.full-heigh {
  height: 100%;
}

.text__black{
  color: var(--color-black);
}

.flex-center-full {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.text__blue {
  color: #1A3659;
}

h1{
  font-weight: 600;
}

.text__grey{
  color: var(--color-grey);
}

.text__white{
  color:white
}
.flex-start-full {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}

.flex-between-full {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-around-full{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-end-full{
  display: flex;
  justify-content: end;
  gap:1rem;
}