body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #f2f2f2;
}

main {
  flex-grow: 2;
  margin: 0rem;
  padding: 0rem;
  background: rgb(232, 232, 232)
}

header {
  max-height: 65.1px;
}


