.main__content {
    background: white;
    padding: 1rem;
    border: solid 1px #e8d8ff;
    margin: 1rem;
    width: 1200px;
    min-width: 400px;
    border-radius: 0rem 0rem 1rem 1rem;
}

.checked {
    filter: drop-shadow(0px 4px 0px rgb(47, 47, 47));
    transform: perspective(500px) translateZ(20px);
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}

.selection-gender>label>img {
    cursor: pointer;
    border: 0rem;
    width: 100px;
    clip-path: circle();
}

.selection-gender>label>input {
    display: none;
}

.card-exercise>figure>img {
    width: 200px;
    border: solid 2px rgb(47, 47, 47);
    border-radius: 0.4rem;
}

.therapy {
    height: 150px;
    width: 120px;
    background: white;
    background: wheat;
    border-radius: 0.5rem;
    margin: 1rem;
    position: relative;
    background:rgb(145, 222, 222);
}

.therapy>.delete-therapy {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    position: absolute;
    border: 0;
    left: 90%;
}

.therapy>figure>img {
    width: 100%;
    height: 100%;
}

.combo-header,
[data-default-text="Elige matariales de apoyo"] {
    padding: 0 !important;
    width: 100% !important;
    border: 0 !important;
    border-radius: 0rem !important;
    appearance: none !important;
    background-color: var(--bs-body-bg) !important;
    background-clip: padding-box !important;
    border: var(--bs-border-width) solid var(--bs-border-color) !important;
    border-radius: var(--bs-border-radius) !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
    height: 75% !important;
    width: 100% !important;
    border-radius: 0rem 0.5rem 0.5rem 0rem !important;
}

.combo-header>span {
    appearance: none !important;
    background-color: var(--bs-body-bg) !important;
    background-clip: padding-box !important;
    border: var(--bs-border-width) solid var(--bs-border-color) !important;
    border-radius: var(--bs-border-radius) !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
    padding: 0.5rem;
}

.item-container {
    padding: 0.5rem !important;
}

.modal-body__therapy_img {
    width: 217px;
}



.input-radio--hidden{
    display: none;
}